.LandingPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: fixed;
}

 .leftLogo {
  position: absolute;
  margin: -.2rem -2.5rem;
  width: 14rem;
}

 .section1 {
  box-sizing: border-box;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
   section {
    box-sizing: border-box;
    height: 55vh;
    width: 30vw;
    background: black;
    border-radius: 10px 0px 0px 10px;

    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;

   } 
  section img {
    width: 28.5vw;
  }

  span img {
    position: absolute;
    width: 50vw;
    height: 75vh;
    z-index: -5;
    bottom: -22.5rem;

  }

 }
.section2 {
  box-sizing: border-box;
  width: 50vw;
  background-image: url('../../../assets/orange1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

   img {
    width: 7.5rem;
    float: right;
  }

   div {
    height: 100vh;
    width: 45vw;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
      font-family: 'Coda Caption', sans-serif;
      color: white;
      text-shadow: 2px 2px 4px #000000;
      font-size: 3em;
      margin: 4rem;
      position: absolute;
      top: 10rem;
    }

     p {
      font-family: 'Righteous', cursive;
      font-size: 1.7em;
      margin: 8rem 0rem 5rem 28rem;
      width: 20rem;
    }
    
    button {
      font-family: 'Coda Caption', sans-serif;
      background: rgba(0, 0, 0, 0.221);
      padding: .1em 1em;
      border: solid black;
      font-size: 2.3em;
      border-radius: 5px;
      margin-left: 10rem;
      width: 6em;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.125);
      box-shadow: 3px 8px 8px black;
    }

     button:hover {
      background: rgba(255, 255, 255, 0.221);
      transition: 200ms ease-in;
    }

   }
}

 .Aside {
  height: 60vh;
  width: 5rem;
  float: left;
  position: absolute;
  bottom: 0;
  overflow: hidden;

   div {
    margin: 2rem 0;
    transform: skewY(50deg);
    background: black;
    width: 3rem;
    height: 2.3rem;
  }
}

 .arrowsblack {
  position: absolute;
  left: 48.45vw;
  bottom: 0;
  width: 500px;

 }
