* {
  margin: 0;
  animation: fade .5s;
}
::selection {
  color: rgb(255, 255, 255);
  background: black;
}
body {
  animation: fade .5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h6 {
  background: rgba(0, 0, 0, 0.345);
}
